<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aaron's blog</title>
</head>
<body>
    <div>
        <h1><a href="">Django Girls Blog</a> </h1>
    </div>

    <div>
        <p>published: 27.11.2016,11.09</p>
        <h2><a href="">My first post</a> </h2>
        <p>this is about how I make the dream come true, first step. done</p>
    </div>

    <div>
        <p>published: 27.11.2016,11.09</p>
        <h2><a href="">Second post</a> </h2>
        <p>Mr Trump, who takes office in January, said he hoped Cubans could move towards a freer future.</p>
    </div>
</body>
</html>
